.Rproj.user
.Rhistory
.RData
**dropbox
**DS_Store
**ncrivers**
**.docx
**.pdf
**.xls**
**.rda
**.eml
**.history
**.ai
**.scriv
**.pptx
**.jpg
**.tif
**.png
**Icon**
**.html
inst/metabolomics**
**.ppt
**.rds

analysis/DOT_report**
